<div data-role="view" id="Watchview" data-title="MyWatch" data-layout="default" data-bind="true" data-model="itemSearch">
    <div data-role="header">
        <div style="color:black;" data-role="navbar">
            MyWatch
             <a style="color:black;" class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" href="Search-Screen.html">Back</a>
        </div>
    </div>

    <div id="grid">
        <table id="item-list">
            <tr>
                <th data-field="ItemName">Name</th>
                <th data-field="ItemDescription">Description</th>
            </tr>
        </table>
    </div>
</div>

