<!DOCTYPE html>
<html>
<head>
    <title>Backend Demo</title>
    <!-- Common Kendo UI CSS -->
    <link href="../kendo/styles/kendo.common.min.css" rel="stylesheet"/>

    <!-- Default Kendo UI theme CSS -->
    <link href="../kendo/styles/kendo.default.min.css" rel="stylesheet"/>

    <!-- (optional) Kendo UI DataViz CSS, include only if you will use the data visualisation features -->
    <link href="../kendo/styles/kendo.dataviz.min.css" rel="stylesheet"/>
    <link href="../kendo/styles/kendo.dataviz.default.min.css" rel="stylesheet"/>

    <link href="../kendo/styles/kendo.mobile.all.min.css" rel="stylesheet"/>
    <link href="../kendo/styles/console.css" rel="stylesheet"/>
</head>
<body>
<!--[if gte IE 9]>-->
<div id="item-grid" data-role="view">
    <table id="item-list">
        <tr>
            <th data-field="ItemName">Name</th>
            <th data-field="ItemDescription">Description</th>
        </tr>
    </table>
</div>

</div>


<!-- jQuery JavaScript -->
<script src="../kendo/js/jquery.min.js"></script>
<!-- Kendo UI combined JavaScript -->
<script src="../kendo/js/kendo.all.min.js"></script>
<!-- Kendo UI console on screens JavaScript -->
<script src="../kendo/js/console.js"></script>

<!--Custom Scripts Goes Here-->

<!-- Kendo UI custom JavaScript -->
<script src="../everlive/min/everlive.all.min.js"></script>
<script src="../custom/settings.js"></script>
<script src="../custom/kendo_inputs.js"></script>


<script src="../custom/itemSearch.js"> </script>
<!--<![endif]-->

<script>
    var app = new kendo.mobile.Application(document.body);
</script>

</body>
</html>